<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
    <%- include header %>
    </header>
      <artcle>
        <h1> OK Nodejs Board List </h1>
       <li><a href="/board/add">add</a></li>
       <ol id="accountslist">
        <% topics.forEach(function(topic) { %>
              <% if(topic) { %>
                <li><%= topic.title %></li>
              <% } else { %>
              <h2>Welcome</h2>
                <div>| This is server side javascript tutorial.</div>
              <% } %>
            <ul>
              <li><a href="/board/<%= topic.id %>/edit">edit</a></li>
              <li><a href="/board/<%= topic.id %>/delete">delete</a></li>
            </ul>
          <% }); %>
        </ol>
      </artcle>
      <li><a href="/upload/view">Uploader Test</a></li>
  </body>
</html>
