<!DOCTYPE html>
<html>
<head>
  <%include partials/head %>
</head>
<body>
  <header>
    <% include partials/header %>
  </header>
  <div id="container">
       <!-- content condition -->

       <!-- content with side -->

       <div id="content" class="pure-g">
           <div class="pure-u-1">


        <div style="min-height:400px;">
           <div style="margin:0 auto; text-align:center">
               <p class="text-center"><h1><i class="fa fa-hand-paper-o fa-4x"></i></h1></p>
               <p class="text-center"><h2> 죄송합니다.</h2></p>
               <p class="text-center"><h2> 요청하신 페이지를 찾을 수 없습니다. ㅜ,ㅜ</h2></p>
               <br/><br/>
               <p class="text-left">
                 <!-- 회원 정보 표시  ? -->
               </p>
           </div>
        </div>
                   </div>
      </div>
  </div>
    <!-- end of set layout style-->

  <footer>
    <% include partials/footer %>
  </footer>

</body>

<script src="/javascripts/responsive-menu.js"></script>
</html>
