<html>
<% include partials/head %>
<body>
  <header>
    <% include partials/header %>
  </header>

  <link rel="stylesheet" href="/stylesheets/game.css">

  	<!-- <link rel="stylesheet" href="/stylesheets/normalize.css"> -->
  	<!-- <link rel="stylesheet" href="../css/font-awesome.css"> -->
  	<!-- <link rel="stylesheet" href="/stylesheets/ospb.css"> -->
  	<link rel="stylesheet" href="/stylesheets/vertical.css">
    <script src="/javascripts/modernizr.js"></script>
  <div id="container">
       <!-- content condition -->

       <!-- content with side -->

       <div id="content">
          <div class="vertical-center">
              <div class="col-sm-6" style="width: 500px; height: 500px;">
                  <div class="wrap">
                    <!-- <div class="scrollbar">
              				<div class="handle">
              					<div class="mousearea"></div>
              				</div>
              			</div> -->
                    <div id="slots">
                			<div class="frame cycleitems" id="slot1">
                				<ul class="items">
                					<li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li>
                				</ul>
                			</div>

                      <div class="frame cycleitems" id="slot2">
                				<ul class="items">
                					<li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li>
                				</ul>
                			</div>

                      <div class="frame cycleitems" id="slot3">
                				<ul class="items">
                					<li>1</li><li>2</li><li>3</li><li>4</li><li>5</li><li>6</li><li>7</li>
                				</ul>
                			</div>
                    </div>
                    <div class="jackpot">
                      <img src="images/jackpot-slot-machine.jpg" width="500px" height="500px"/>
                    </div>
                </div>
              </div>
              <div class="col-sm-6"  style="width: 600px; height: 500px; padding: 70px 0;">
                <form class="form-horizontal" action="" method="post" id="form_spin">
                  <div class="form-group"  style="margin-top:50px">
                    <label for="seedMoney" class="col-sm-4 control-label">보유금액 </label>
                    <div class="col-sm-8 ">
                      <input type="text"  class="form-control" name="seedMoney" id="seed" value="10000" style="color:green;font-weight:bold;"  disabled/>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top:100px">
                    <label for="betMoney" class="col-sm-4 control-label">배팅금액</label>
                    <div class="col-sm-8 ">
                      <input type="text" class="form-control" name="betMoney" id="bet"placeholder="2000 이하금액만 배팅가능합니다."/>
                      <span id="message-bet"></span>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top:50px">
                    <label for="result" class="col-sm-4 control-label">결과 : </label>
                    <div class="col-sm-8 ">
                      <input type="text" class="form-control" name="result" id="result" disabled/>
                      <span id="message-result"></span>
                    </div>
                  </div>
                </form>
                <div class="form-group" style="margin-left:20px; text-align:left;">
                    <button type="submit" class="btn btn-default" style="color:green;width:70px; height:40px" onclick="betting()">SPIN</button>
                </div>
                <br>

            </div>
        </div>

        <div class="row">
        <div class="col-md-3">
            <h4 style="bold">OK Slot Machine</h4>
            <em>로또 당첨보다 더 낮은 확률의 슬롯머신 !!</em><br>
            <h3 style="color:red;"> 잭팟을 터트리세요!</h3>
            <h4 style="color:green;"> 10만원 이상 현금교환 가능.</h4>
            <h4 style="color:green;"> ( 커미션 10% )</h4>
        </div>
        <div class="col-md-3">
            <h4>Game Rule</h4>
            <em> 1등 (배팅금액x7) : 777 </em><br>
            <em> 2등 (배팅금액x3) : 3개가 모두 같은 수</em><br>
            <em> 3등 (배팅금액x2) : 2개가 7</em><br>
            <em> 4등 (배팅금액x1) : 똑같은 숫자가 2개</em><br>
            <em> ※ 배팅금액은 100원단위로 2천원이하 베팅가능함.</em>
        </div>
        <div class="col-md-3">
            <h4>Jackpot Handpay</h4>
            <em> When a slot attendant or cage gives the player a cash payout, rather than the actual slot machine paying out from the printer with ticket voucher or coin hopper.</em>
            <br><br><em><a href="http://oncajuso.blogspot.kr/2014/06/blog-post_24.html" style="color:blue;"> JackPot Guide</a></em>
        </div>
        <div class="col-md-3">
            <h4>What to expect when you hit a hand-pay slot jackpot </h4>
            <em>Most people tip the person making a hand pay.</a> One rule of thumb is to tip 0.5 percent to 1 percent of the jackpot, or $6 to $12 on a $1,200 payout.</em>
        </div>
    </div>
      </div>
  </div>
    <!-- end of set layout style-->

    <footer>
      <% include partials/footer %>
    </footer>

</body>

<script >

var $slot1 = $('#slot1');
var $slot2 = $('#slot2');
var $slot3 = $('#slot3');

// java script
// 보유금액, 판돈
// 스핀버튼, Retry 버튼 / 각 슬롯 숫자 계산 , 숫자표시(애니메이션 처리) ,
// 결과처리 (보유금액 재계산) , 보유금액 남으면 다음게임진행가능 but 제로면 게임진행여부 질의.
var seedMoney = 10000;
var betMoney = 0;

var slotNumber = [0,0,0];
var slotSymbol = [1,2,3,4,5,6,7];
var wheelCount = 1;
const fakePer = 50;
var getMoney = 0;
var resultStr = '꽝!';

$(document).ready(function(){
  $.getScript( '/javascripts/vertical.js' );
});

function betting(){

    $('.btn-default').attr("disabled",true);
    $('.btn-default').blur();

    betMoney = $('#bet').val();
    $('#message-bet').html('');
    $('#result').val('');
    console.log('betMoney = ' + betMoney);

    if(seedMoney <=0){
      var retrunVal = confirm('돈을 다 잃으셨네요~ 다시 한판 더?');
      if(retrunVal){
        seedMoney = 10000;
        betMoney = 0;
        $('#result').val('');
        $('#bet').val('');
        $('#seed').val(seedMoney);
      }
      return;
    }
    if (betMoney < 100 || betMoney % 100 != 0) {
      $('#message-bet').html("<span style='color:red;'> 베팅액을 100원단위로 입력하세요 </span>");
    } else if(betMoney > 2000){
      $('#message-bet').html("<span style='color:red;'> 베팅액을 2000원이상은 불가능합니다 </span>");
    } else if( betMoney > seedMoney){
        $('#message-bet').html("<span style='color:red;'> 베팅액이 보유금액을 초과했네요 </span>");
    } else { // 게임진행
      // betMoney = Math.floor( Math.random() * 100 ) + 10;
      $slot1.sly('resume');
      $slot2.sly('resume');
      $slot3.sly('resume');
      setTimeout( "spinUp()" , 7 * 1000 );
    }

};

function spinUp(){

    // 슬롯 숫자 결과
    for (var i = 0; i < slotNumber.length; i++) {
        slotNumber[i] = Math.floor( Math.random() * 10 ) % 7 + 1;
    }

    // 결과처리 확률 TODO 조정계산 추가처리 필요
    var slot1 = slotNumber[0];
    var slot2 = slotNumber[1];
    var slot3 = slotNumber[2];
    if(slot1 == slot2 && slot1 == slot3 ){
        if(isfakeSlotPer()){
            getMoney = -betMoney;
            resultStr = '꽝!  ';
        } else {
          if(slot1 == 7){
            getMoney = betMoney * 7; //1등  7 7 7
            resultStr = '대박 1등!!!  +';
          } else {
            getMoney = betMoney * 3; //2등
            resultStr = '대박 2등!!!  +';
          }
        }
      } else if( (slot1 == slot2 || slot1 == slot3 || slot2 == slot3) ) {
        if(isfakeSlotPer()){
            getMoney = -betMoney;
            resultStr = '꽝!  ';
        } else {
          if( ( (slot1 == slot2 || slot1 == slot3) && slot1 == 7 )
                || (slot2 == slot3 && slot2 == 7) ) {  //3등 2개가 7
                getMoney = betMoney * 2
                resultStr = '3등 !  +';
          } else { // 4등
                getMoney = betMoney
                  resultStr = '4등 !  +';
          }
        }
      } else { //5등
        getMoney = -betMoney;
        resultStr = '꽝!  ';
      }
    console.log('숫자 조합 결과 : ' + slotNumber[0] + "/" + slotNumber[1] + "/" + slotNumber[2]);
    // 숫자표시 애니메이션 작동

    $slot1.sly('pause');
    $slot1.sly('activate', slotNumber[0] -1, false );

    setTimeout(function(){
      $slot2.sly('pause');
      $slot2.sly('activate', slotNumber[1] -1, false );
      console.log('setTimeout slot2 :');
    },3000);

    setTimeout(function(){
      $slot3.sly('pause');
      $slot3.sly('activate', slotNumber[2] -1, false );
      console.log('setTimeout slot3 :');
          setTimeout(function(){
              resetGame();
          },500);

    },6000);

};

function resetGame(){
  // 결과 처리
  console.log('seedmoney type = ' + typeof seedMoney + "getMoney type = " + typeof getMoney);
  seedMoney = seedMoney + Number(getMoney);
  console.log('슬롯게임 결과 : getMoney = ' + getMoney + ' / seedMoney = '+seedMoney);
  if(getMoney > 0){
    $('#result').css('color','green');
  } else {
    $('#result').css('color','red');
  }
  $('#result').val(resultStr + getMoney);
  $('#seed').val(seedMoney);

  $('.btn-default').attr("disabled",false);

  // 게임 리셋
  if(seedMoney == 0){
    var retrunVal = confirm('돈을 다 잃으셨네요~ 다시 한판 더?');
    if(retrunVal){
      seedMoney = 10000;
      betMoney = 0;
      $('#result').val('');
      $('#bet').val('');
      $('#seed').val(seedMoney);
    }
  }
}

function isfakeSlotPer(){
  var result = false;

  var calPer = Math.floor( Math.random() * 100 );
  if(fakePer >= calPer ){
    result = true;
    slotNumber[0] = Math.floor( Math.random() * 3 ) + 3;
    slotNumber[1] = Math.floor( Math.random() * 2 ) + 1;
    slotNumber[2] = Math.floor( Math.random() * 2 ) + 6;
  }
  return result;

};

</script>
<!-- Scripts -->
<script src="/javascripts/plugins.js"></script>
<script src="/javascripts/sly.min.js"></script>
<!-- <script src="/javascripts/horizontal.js"></script> -->
<!-- <script src="/javascripts/vertical.js"></script> -->
<script src="/javascripts/responsive-menu.js"></script>
</html>
