<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul id="account">
      <li><a href="/auth/register">Register</a></li>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/board/list">Board</a></li>
    </ul>

    <li><a href="/files/nebular.jpg">Nebular.jpg</a></li>
    <li><a href="/images/hyuna.jpg">Hyuna.jpg</a></li>

  </body>
</html>
