<!DOCTYPE html>
<html>
<head>
  <% include ../partials/head %>
</head>
  <body>
    <header>
      <% include ../partials/header %>
    </header>

      <div id="container">
          <!-- content condition -->



          <!-- content with side -->

          <div id="content" class="pure-g">
              <div class="pure-u-1">



  <div class="text-center" style="margin:0 auto; padding-top:35px; height:400px; width:300px;">
  <h1 style="margin-bottom:30px;"><p class="text-center">Login</p></h1>

  <form class="form-horizontal" method="post" id="login_form">
      <div class="form-group">
          <label for="inputUserID" class="col-sm-4 control-label">User ID</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" id="id" name="id" placeholder="id" value="<%= userId?userId:"" %>"/>
          </div>
      </div>
      <div class="form-group">
          <label for="inputPassword" class="col-sm-4 control-label">Password</label>
          <div class="col-sm-8">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
          </div>
      </div>
      <div class="form-group" style="color:#ddd;">
          <style scoped>
              i { margin-right: 3px; }
              a { display:block; font-size:90%; color:#333; padding:5px 0; margin-right: 10px; }
          </style>
              <div style="height:15px; color:red; font:9pt 돋움, Arial" id="messages"></div>
              <a href="/auth/forgot"><i class="fa fa-unlock-alt"></i>Forgot Password</a>
              <a href="/auth/register"><i class="fa fa-sign-in"></i>New Here? Create an account</a>
      </div>
      <div class="form-group">
              <button type="submit" class="btn btn-default">Sign in</button>
      </div>
  </form>
  </div>


  <script type="text/javascript">


      $('#password').focus(function(e) {
          $('#messages').html('');
      })

      $('#login_form').submit(function (e) {
          e.preventDefault();

          if(!$('#id').val()|| !$('#password').val()){
              $('#messages').html('아이디 또는 비밀번호를 바르게 입력하여 주세요.');
          }

          else {
              $.ajax({
                  url: "/auth/login",
                  type: "POST",
                  data: {
                      'userId': $('#id').val(),
                      'password': $('#password').val()
                  },
                  success: function (data) {
                      if (data) {
                          $('#messages').html(data);
                      } else {
                          console.log(document.referrer);
                          // 리퍼러가 /login 인 경우 /index 로 리다이렉트로 하고
                          if
                          (document.referrer.indexOf('/login') >=0 || document.referrer == '' || document.referrer.indexOf('/register') >= 0) {
                              window.location.href = "http://"+window.location.host;
                          }

                          // 그렇지 않은 경우, 이전 페이지로
                          else location.href = document.referrer;
                      }
                  }
              })
          }
      });

  </script>

              </div>
          </div>


      </div>
      <!-- end of set layout style-->

      <footer>
        <% include ../partials/footer %>
      </footer>

  </body>

  <script src="/javascripts/responsive-menu.js"></script>
</html>
