<html>
<head>
  <%include ../partials/head %>
</head>
<body>
  <header>
    <% include ../partials/header %>
  </header>

  <div id="container">
       <!-- content condition -->

       <!-- content with side -->

       <div id="content" class="pure-g">
           <div class="pure-u-1">


        <div style="min-height:400px;">
           <div style="margin:0 auto; text-align:center">
               <!-- <p class="text-center"><h1><i class="fa fa-hand-paper-o fa-4x"></i></h1></p> -->
               <p class="text-center"><img src='https://cdn.namuwikiusercontent.com/55/551760943c81c81058abf5a2b14a013d65839d5255691d4a5c0f4e4bfe1feb2c.jpg?e=1486073064&k=6St5kz_pRWitr-WEUueNaQ'></p>
               <p class="text-center"><h2> ♥ 계속 하려면 먼저 로그인을 해주세요  ♥</h2></p>
               <br/><br/>
               <p class="text-left">
                 <!-- 회원 정보 표시  ? -->
               </p>
           </div>
        </div>
                   </div>
      </div>
  </div>
    <!-- end of set layout style-->

    <%include ../partials/footer %>

</body>

<script src="/javascripts/responsive-menu.js"></script>
</html>
