<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <header>
    <%- include header %>
    </header>
    <artcle>
      <form action="/board/add" method="post">
        <p>
          <input type="text" name="title" placeholder="title"/>
        </p>
        <p>
          <textarea name="description" placeholder="description"></textarea>
        </p>
        <p>
          <input type="text" name="author" placeholder="author"/>
        </p>
        <p>
          <input type="submit"/>
        </p>
      </form>
    </artcle>
  </body>
</html>
