<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <style>
      form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }
      .progress { position:relative; max-width:500px; }
      .percent { position:absolute; display:inline-block; top:3px; left:48%; }
      #contents { padding:20px; }
    </style>
  </head>

  <body>
    <header>
      <% include ../partials/header %>
    </header>
    <div id="contents">
        <h1> OK Nodejs File I/O Test </h1>
        <br>
        ※ 참고할만한 Jquery 라이브러리
        <a href="https://github.com/blueimp/jQuery-File-Upload" style="color:red; ">https://github.com/blueimp/jQuery-File-Upload </a>
        <h2> Multer Module Test </h2>
        <form action="/file/multer" method="post" enctype="multipart/form-data">
          <input type="file" name="userfile" required>
          <input type="submit"value="파일 업로드">
        </form>
        <br>
        <h2> MultiFiles Upload </h2>
        <form action="/file/upImageMulti" method="post" enctype="multipart/form-data">
          <input type="file" name="userfile" multiple required/>
          <input type="file" name="userfile" multiple required/>
          <input type="submit"value="파일 업로드">
        </form>
        <br>
        <h2> Upload ProgressBar </h2> <!-- ajax로 구현시 status에 결과표시. -->
        <form id="progressForm" name="progressForm" action="/file/multer" method="post" enctype="multipart/form-data">
          <input type="file" id="fileTarget" name="userfile" required>
          <input type="submit" value="파일 업로드">
        </form>
       <!-- <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span id="percent"></span>
          </div>
        </div> -->
        <div class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar">
            <span id="percent"></span>
          </div>
        </div>
        <div id="status"></div>
       <br>
        <h2> File Download </h2>
        <a href="/file/download/hyuna.jpg">현아사진 다운로드 </a>
        <br>
        <input type="txt" id="filename">
        <input type="button" value="파일 다운로드" onclick="getFileDownload();">
      </div>
  </body>
  <script>
  function getFileDownload(){
    window.location = '/file/download/' + $('#filename').val();
  }

  // 정상동작하지만 ajaxForm이 동작안한다.
  // var $progressForm = $("#progressForm"),
  //   $successMsg = $(".status");
  // $progressForm.validator().on("submit", function(e){
  //   if(!e.isDefaultPrevented()){
  //     e.preventDefault();
  //     $successMsg.show();
  //   }
  // });

  (function() {

  var bar = $('.progress-bar');
  var percent = $('#percent');
  var status = $('#status');
  var formValid = false;
  $('#progressForm').ajaxForm({
      beforeSend: function() {
          status.empty();
          var percentVal = '0%';
          bar.width(percentVal)
          percent.html(percentVal);

          if (ValidateUploadForm()) {
              formValid = true;
              bar.addClass('progress-bar-striped');
              bar.removeClass('progress-bar-success');
              bar.addClass('progress-bar-info');
              bar.addClass('active');
          } else {
              formValid = false;
          }
          return formValid; // form submit 제어는 안된다.
      },
      uploadProgress: function(event, position, total, percentComplete) {
        if (formValid) {
          var percentVal = percentComplete + '%';
          bar.width(percentVal)
          percent.html(percentVal);
        }
      },
      success: function() {
        if (formValid) {
          var percentVal = '100%';
          bar.width(percentVal)
          percent.html(percentVal);
        }
      },
  	complete: function(xhr) {
        if (formValid) {
          bar.removeClass('active');
          bar.removeClass('progress-bar-striped');
          bar.removeClass('progress-bar-info');
          bar.addClass('progress-bar-success');
      		status.html(xhr.responseText);
        }
  	}
  });

  function ValidateUploadForm() {
        var fileTarget = $('#fileTarget').val();
        if ( fileTarget !== '' && fileTarget.length > 0){
          console.log('ValidateUploadForm true !!!! ');
          return true;
        } else {
            console.log('ValidateUploadForm false !!!! ');
          return false;
        }
  }

  })();
  </script>
</html>
