<!DOCTYPE html>
<html>
  <head>
    <meta chartset="utf-8">
  </head>
  <body>
    <h1> OK Nodejs Board List </h1>
    <br>
    <form action="/board/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="userfile">
      <input type="submit">
    </form>
  </body>
</html>
