/* Typical */
#comment_count { color: darkred; }
table { border-top:2px solid #333; }
table tr { font:9pt 돋움, Dotum, Arial }

@media only screen and (max-width: 640px) {
    table { font: 9pt 돋움, Arial !important; }
    input { font: 9pt 돋움, Arial; padding: 5px 5px; }
    #search_form { display : none; }
    #table-typical td:nth-child(1),
    #table-typical th:nth-child(1),
    #table-typical td:nth-child(4),
    #table-typical th:nth-child(4),
    #table-typical td:nth-child(5),
    #table-typical th:nth-child(5) { display: none; }
    #table-typical td:nth-child(3),
    #table-typical th:nth-child(3){ width: 20%; }
    #search_form { display : none; }
}

/* Gallery */
.thumb { max-height: 300px; }
.thumb a img { height: 180px; max-height: 100%; max-width: 100%; }
.thumbnail:hover { text-decoration: none; }
.info-wrapper { font:9pt 돋움, Arial; height:80px; padding:10px; }
.block { display: block; }
.strong { font-weight: 600; margin-bottom:5px; }
.info-footer { margin-top:15px; }
.info-footer .date { padding-right:6px; }
.info-footer .n-comments { float: right; }
.info-footer .writer { float: right; padding-right:6px; }
