.boximg{
	position:relative;
	overflow:hidden;
	text-align:center;
	}

.boximg img{
		transition:all ease-in 400ms;
		border:1px solid #fff;
	}

.boximg img:hover{
	transform:scale(1.2,1.2);
	cursor:pointer;

	}

	/* Gallery */
	.thumb { max-height: 350px; }
	.thumb a img { height: 200px; max-height: 100%; max-width: 100%; margin: 0 auto}
	.thumbnail:hover { text-decoration: none; }
	.info-wrapper { font:9pt 돋움, Arial; height:80px; padding:5px; }
	.block { display: block; }
	.strong { font-weight: 600; margin-bottom:5px; }
	.info-footer { margin-top:10px; }
	.info-footer .date { padding-right:6px; }
	.info-footer .n-comments { float: right; }
	.info-footer .writer { float: right; padding-right:6px; }
