<div id="footer-wrap">
    <div id="footer">
        <p class="text-center">OKMEAN Pro. based on Node.js, Express.js, MongoDB(Mongoose). <br/></p>
        <p class="text-center">Copyright © 2016 <a href="http://blog.naver.com/ridsync"> OkiToki <i style="color:darkblue" class="fa fa-facebook-official"></i></a> </p>
    </div>
</div>
