<div id="footer-wrap">
    <div id="footer">
        <p class="text-center">OK MEAN Stack. based on Node.js, Express.js, MongoDB(Mongoose). <br/></p>
        <p class="text-center">Copyright © 2016 <a href="http://blog.naver.com/ridsync"> OkiToki <i style="color:green" class="fa fa-android fa-2x" ></i></a> </p>
    </div>
</div>
